@using Selerant.DevEx.Modules.DIRModule.WebMvcFrontEnd.Areas.AssessmentNavigator.Models.ObjectCreation.Shared.Tabs;

@inherits Selerant.DevEx.WebMvcModules.Infrastructure.Views.DevExPartialView<BusinessCostsGridTabModel>

@using (Model.BeginRendering(Html))
{
	<p>In BusinessCosts Tab</p>
}
