/*.navigator.AssessmentNavigator .dir-module-bus-nav-resource-management .main-container {
}*/

/*.dir-module-bus-nav-resource-management .category-parent {
	position: relative;
}*/

/*.dir-module-bus-nav-resource-management .category-title {
	display: inline-block;
}*/

/*.dir-module-bus-nav-resource-management .category-icon-add {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: white;
	right: 7px;
	cursor: pointer;
}*/